.product-swiper {
  &__img {
    position: relative;
    padding: 0 0 32.3%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: contain;
      object-position: top;
    }
  }
}