@import "../modules/vars";
@import "../modules/functions";
@import "../modules/breakpoints";

.main-screen {
  min-height: 627px;
  height: 100%;
  background: url("../img/background-main-screen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  @media all and (min-width: $breakpoint-tablet-M) {
    min-height: 940px;
    background: url("../img/background-desktop-main-screen.png");
  }

  h1 {
    padding: 197px 0 10px;
    @media all and (min-width: $breakpoint-tablet-M) {
      padding: 326px 0 25px;
    }
  }

  &__disc {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    @media all and (min-width: $breakpoint-tablet-M) {
      padding-bottom: 50px;
      font-size: 36px;
      line-height: 42px;
    }
  }
}

