@import "./modules/vars";
@import "./modules/fonts";

@import "./modules/colors";
@import "./modules/breakpoints";

:root {
  --height-header-mobile: 35px;
  --height-header-desktop: 70px;
}

.header {
  color: $color-white;
  background-color: $color-dark;
  width: 100%;
  min-height: var(--height-header-mobile);
  @media all and (min-width: $breakpoint-tablet-M) {
    min-height: var(--height-header-desktop);
  }

  &__row {
    width: 100%;
    @media all and (min-width: $breakpoint-tablet-M) {
      min-height: calc(#{var(--height-header-desktop)} / 2);
      margin: 17.5px auto; //  min-height / 2 = 17.5px
    }
  }

  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @media all and (min-width: $breakpoint-tablet-M) {
      //padding: 20px 70px;
    }
  }

  .mobile-menu-cell {
    opacity: 1;
    transition: opacity 0.4s;
    pointer-events: visible;

    @media all and (min-width: $breakpoint-tablet-M) {
      display: none;
    }

    span, a {
      color: $color-white;
      font-family: $secondaryFont;
    }
  }

  .mobile-menu-cell.active {
    opacity: 0;
    pointer-events: none;
  }
}


.desktop-menu {
  display: none;
  @media all and (min-width: $breakpoint-tablet-M) {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    display: block;
    width: 100%;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    left: 0;
    transform: translateY(-6px);
  }

  &__cell {
    position: absolute;
    right: 0;
    transform: translateY(-14px);

    span, a {
      color: $color-white;
      font-family: $secondaryFont;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
  }

  .item-services {
    position: relative;
    &:hover {
      .submenu {
        opacity: 1;
        pointer-events: visible;
      }
    }
  }

  .submenu {
    //opacity: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: -20px;
    width: 393px;
    padding: 20px 20px 20px 20px;
    background-color: $color-dark;
    box-shadow: 9px 16px 10px 0 rgba(34, 60, 80, 0.2);
    transition: 0.5s ease;
    //border: 1px solid red;

    &__list {
      li {
        &:not(:last-child) {
          padding-bottom: 15px;
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
  font-family: $primaryFont;
  padding: 10px 15px;

  &__title {
    margin: 0 auto 51px;
    width: 100%;
    max-width: 375px;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $color-grey;
  }

  &__list {
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    li {
      margin-bottom: 30px;
    }
  }
}

.mobile-menu.active {
  display: block;
  position: fixed;
  width: 100vw;
  height: calc(100vh - #{var(--height-header-mobile)});
  background-color: $color-dark;
  left: 0;
  top: var(--height-header-mobile);
}

.menu {
  &__burger {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px 0 0;
    flex: 0 1 11%;
    cursor: pointer;
    z-index: 3;
    @media all and (min-width: $breakpoint-tablet-M) {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 12px;
    position: relative;
    z-index: 5;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    span {
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-grey;
      border-radius: 2px;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      opacity: 1;

      &:nth-child(1) {
        top: 0.2px;
      }

      &:nth-child(2) {
        top: 5.2px;
      }

      &:nth-child(3) {
        top: 10px;
      }
    }
  }

  &__icon.active {
    span {
      &:nth-child(1) {
        top: 6.9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 6.9px;
        transform: rotate(-135deg);
      }
    }
  }
}

