.section-testimonials {
  .simplebar-track,
  .simplebar-vertical {
    .simplebar-scrollbar {
      &::before {
        background: #273687;
        opacity: 1;
      }
    }
  }
}

.section-trustpilot {
  .simplebar-track,
  .simplebar-vertical {
    .simplebar-scrollbar {
      &::before {
        background: #dcdce6;
        opacity: 1;
      }
    }
  }
}

.simplebar-track.simplebar-horizontal {
  display: none;
}

.simplebar-content {
  overflow-x: hidden;
}
